<section>
  <form novalidate #registerForm="ngForm" fxLayout="column" fxLayoutAlign="space-around center">
    <mat-form-field>
      <input type="email" matInput ngModel placeholder="Email" name="email" required>
      <mat-hint>Please enter an email</mat-hint>
      <mat-error *ngIf="registerForm.hasError('email') && !emailFormControl.hasError('required')">
        Please enter a valid email address
      </mat-error>
      <mat-error *ngIf="registerForm.hasError('required')">
        Email is <strong>required</strong>
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <input type="passwor" matInput ngModel placeholder="Password" name="password" required>
      <mat-hint>Please enter a password of at least 6 characters</mat-hint>
      <mat-error *ngIf="registerForm.hasError('password')">
        Password not valid
      </mat-error>
    </mat-form-field>
  </form>
</section>