<mat-sidenav-container class="example-container">
  <mat-sidenav #sidenav role="navigation">
    <mat-nav-list>
      <a mat-list-item [routerLink]="['workout']">Workout</a>
      <a mat-list-item [routerLink]="['login']">Login</a>
      <a mat-list-item [routerLink]="['register']">Register</a>
      <a mat-list-item [routerLink]="['/']">Logout</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <div>
        <button mat-icon-button (click)="sidenav.toggle()">
          <mat-icon>menu</mat-icon>
        </button>
      </div>
      <div>
        <a mat-button class="logo" routerLink="/"><span>Workout tracker</span></a>
      </div>
      <span class="example-spacer"></span>
      <div fxFlex fxLayout="row" fxLayoutAlign="flex-end">
        <ul fxLayout="row" fxLayoutGap="10px" class="items">
          <li>
            <a [routerLink]="['workout']">workout</a>
          </li>
          <li>
            <a [routerLink]="['login']">login</a>
          </li>
          <li>
            <a [routerLink]="['register']">register</a>
          </li>
        </ul>
      </div>
    </mat-toolbar>
    <!-- main semantic ... -->
    <main>
      <router-outlet></router-outlet>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>